.container{
  display: inline-block;
  width:200px;
  height:200px;
  border-style: solid groove;
  /* pointer-events: none; */
}

.box{
  height:100%;
  background: #aaa;
  transform-origin: bottom right;
  transition: transform 0.5s;  
}

.box:hover{
  transform: rotate(60deg); 
}